<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxing.onlinewechatvoting.dao.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.chaoxing.onlinewechatvoting.bean.po.Activity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="entry_method" property="entryMethod" jdbcType="VARCHAR" />
    <result column="participants" property="participants" jdbcType="VARCHAR" />
    <result column="activity_time" property="activityTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, content, image, type, entry_method, participants, activity_time, create_time, 
    is_delete,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaoxing.onlinewechatvoting.bean.po.Activity" >
    insert into t_activity (id, name, content, 
      image, type, entry_method, 
      participants, activity_time, create_time, 
      is_delete,status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{entryMethod,jdbcType=VARCHAR}, 
      #{participants,jdbcType=VARCHAR}, #{activityTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER},#{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chaoxing.onlinewechatvoting.bean.po.Activity" >
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="entryMethod != null" >
        entry_method,
      </if>
      <if test="participants != null" >
        participants,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="entryMethod != null" >
        #{entryMethod,jdbcType=VARCHAR},
      </if>
      <if test="participants != null" >
        #{participants,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chaoxing.onlinewechatvoting.bean.po.Activity" >
    update t_activity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="entryMethod != null" >
        entry_method = #{entryMethod,jdbcType=VARCHAR},
      </if>
      <if test="participants != null" >
        participants = #{participants,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chaoxing.onlinewechatvoting.bean.po.Activity" >
    update t_activity
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      entry_method = #{entryMethod,jdbcType=VARCHAR},
      participants = #{participants,jdbcType=VARCHAR},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_activity
    where is_delete=0
  </select>
  <select id="listFore" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_activity
    where is_delete=0
    and `status`=0
  </select>
</mapper>