<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxing.onlinewechatvoting.dao.WorkLogMapper" >
  <resultMap id="BaseResultMap" type="com.chaoxing.onlinewechatvoting.bean.po.WorkLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="work_id" property="workId" jdbcType="INTEGER" />
    <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, work_id, wx_openid, activity_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_work_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_work_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaoxing.onlinewechatvoting.bean.po.WorkLog" >
    insert into t_work_log (id, work_id, wx_openid, 
      activity_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{workId,jdbcType=INTEGER}, #{wxOpenid,jdbcType=VARCHAR}, 
      #{activityId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chaoxing.onlinewechatvoting.bean.po.WorkLog" >
    insert into t_work_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="wxOpenid != null" >
        wx_openid,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=INTEGER},
      </if>
      <if test="wxOpenid != null" >
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chaoxing.onlinewechatvoting.bean.po.WorkLog" >
    update t_work_log
    <set >
      <if test="workId != null" >
        work_id = #{workId,jdbcType=INTEGER},
      </if>
      <if test="wxOpenid != null" >
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chaoxing.onlinewechatvoting.bean.po.WorkLog" >
    update t_work_log
    set work_id = #{workId,jdbcType=INTEGER},
      wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByWorkIdAndOpenId" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_work_log
    <where>
      <if test="openId !=''and openId !=null">
       and wx_openid = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="workId !=''and workId !=null">
       and work_id = #{workId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectByWorkIdAndActivityId" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    from t_work_log
    <where>
      <if test="openId !=''and openId !=null">
        and wx_openid = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="activityId !=''and activityId !=null">
        and activity_id = #{activityId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectByWorkId" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    from t_work_log
    <where>
      <if test="workId !=''and workId !=null">
        and work_id = #{workId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="areaList" parameterType="map" resultType="com.chaoxing.onlinewechatvoting.bean.vo.OptionVO">
    select d.name as name,count(l.id) as votes from t_work w LEFT JOIN t_work_log l  on w.id =l.work_id left join t_dict d  on  d.id= w.select_type1  where d.name is not null GROUP BY w.select_type1 ORDER BY votes desc;

  </select>
  <select id="siteList" parameterType="map" resultType="com.chaoxing.onlinewechatvoting.bean.vo.OptionVO">
    select d.name as name ,count(l.id) as votes from t_work w LEFT JOIN t_work_log l  on w.id =l.work_id left join t_dict d   on d.id= w.select_type2 where d.name is not null GROUP BY w.select_type2 ORDER BY votes desc;
  </select>
</mapper>